<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holdmypuppy.inform.abandonedDog.mapper.AbandonedDogMapper">


	<!-- 보호 중인 아이들 리스트 -->
	<select id="selectDogsList" parameterType="int" resultType="com.holdmypuppy.inform.abandonedDog.domain.AbandonedDog">
	
		SELECT
			*
	
		FROM
			`abandoned_dog`
		
		ORDER BY 
			`id` DESC
	
	</select>
	
	
	
	<!-- 유기견 등록 API -->
	<insert id="postDog" parameterType="map" useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO `abandoned_dog`
		(
			`userId`
			, `title`
			, `dogName`
			, `breed`
			, `age`
			, `gender`
			, `neutralization`
			, `mbti`
			, `imagePath`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		
		
		VALUES
		(
			#{userId}
			, #{title}
			, #{dogName}
			, #{breed}
			, #{age}
			, #{gender}
			, #{neutralization}
			, #{mbti}
			, #{imagePath}
			, #{content}
			, NOW()
			, NOW()
		
		)
	
	</insert>
	
	
	
	<!-- 보호 중인 아이들 조회 (상세 정보) -->
	<select id="selectDogByPostId" parameterType="int" resultType="com.holdmypuppy.inform.abandonedDog.domain.AbandonedDog">
	
		SELECT
			*
	
		FROM
			`abandoned_dog`
		
		WHERE
			`id` = #{id}
	
	</select>


</mapper>