<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holdmypuppy.admin.cs.qna.dao.AdQnaDAO">


		<!-- 1:1 문의 내역 -->
	
	<select id="selectQnaList" parameterType="int"
		resultType="com.holdmypuppy.admin.cs.qna.model.AdQna">
	
		SELECT
			`id`
			, `memberId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		
		FROM
			`qna`
		
		ORDER BY
			`id` DESC
	
	</select>
	
	
	
		<!-- 1:1 문의 상세 조회 -->
	
	<select id="selectQna" parameterType="int"
		resultType="com.holdmypuppy.admin.cs.qna.model.AdQna">
	
		SELECT
			`id`
			, `memberId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
	
		FROM
			`qna`
			
		WHERE
			`id` = #{id}
	
	</select>
	
	
	
		<!-- 1:1 문의 삭제 -->
	
	<delete id="deleteQna" parameterType="int">
	
		DELETE FROM
			`qna`
		
		WHERE
			`id` = #{qnaId}
	
	</delete>
	
	
</mapper>