<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holdmypuppy.member.cs.qna.dao.QnaDAO">


		<!-- 1:1 문의 업로드 -->
	
	<insert id="insertPost" parameterType="map">
	
		INSERT INTO
			`qna`
		(
			`memberId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		
		VALUES
		(
			#{memberId}
			, #{title}
			, #{content}
			, now()
			, now()
		)
	
	</insert>
	
	
	
		<!-- 1:1 문의 리스트 (작성자 본인 것만 조회 가능) -->
	
	<select id="selectQnaList" parameterType="int"
		resultType="com.holdmypuppy.member.cs.qna.model.Qna">
	
		SELECT
			`id`
			, `memberId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
			
		FROM
			`qna`
			
		WHERE
			`memberId` = #{memberId}
		
		ORDER BY
			`id` DESC
	
	</select>
	
	
	
		<!-- 1:1 문의 상세 조회 -->

	<select id="selectQna" parameterType="int"
		resultType="com.holdmypuppy.member.cs.qna.model.Qna">
	
		SELECT
			`id`
			, `memberId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
	
		FROM
			`qna`
		
		WHERE
			`id` = #{id}
	
	</select>
	
	
	
		<!-- 글 수정 -->
	
	<update id="updateQna" parameterType="map">
	
		UPDATE
			`qna`
		
		SET
			`title` = #{title}
			, `content` = #{content}
			, `updatedAt` = now()
		
		WHERE
			`id` = #{qnaId}
	
	</update>
	
	
	
		<!-- 게시글 삭제 -->
	
	<delete id="deleteQna" parameterType="int">
	
		DELETE FROM
			`qna`
		
		WHERE
			`id` = #{qnaId}
			
	</delete>
	
	

</mapper>