@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}


header {
	height:100px;
}


.main-menu {
    height: 40px;
    background-color: #e9f7f6;
    font-color: #1c46d4;
}

.main-link {
    font-weight: bold;
}

.main-link:hover {
    color: #4ae4ed;
}


.banner {
	height: 300px;
}


.main-text {
	color: #2bb3e0;
	font-weight: bold;
}

.contents > .btn {
	    color: #bbc2c4;
}


.post-box {
	width: 800px;
}



footer {
	height:250px;
}